In [9]:
import pandas as pd

ads = pd.read_csv(r"C:\Users\pnvc1\Downloads\portfolio-Projects\Social-Media\Raw-Data\ads.csv")
campaigns = pd.read_csv(r"C:\Users\pnvc1\Downloads\portfolio-Projects\Social-Media\Raw-Data\campaigns.csv")
ad_events = pd.read_csv(r"C:\Users\pnvc1\Downloads\portfolio-Projects\Social-Media\Raw-Data\ad_events.csv")
users = pd.read_csv(r"C:\Users\pnvc1\Downloads\portfolio-Projects\Social-Media\Raw-Data\users.csv")

ads.shape, campaigns.shape, ad_events.shape, users.shape

((200, 7), (50, 6), (400000, 7), (10000, 7))

In [11]:
print("Missing values in ads:\n", ads.isna().sum(), "\n")
print("Missing values in campaigns:\n", campaigns.isna().sum(), "\n")
print("Missing values in ad_events:\n", ad_events.isna().sum(), "\n")
print("Missing values in users:\n", users.isna().sum(), "\n")

Missing values in ads:
 ad_id               0
campaign_id         0
ad_platform         0
ad_type             0
target_gender       0
target_age_group    0
target_interests    0
dtype: int64

Missing values in campaigns:
 campaign_id      0
name             0
start_date       0
end_date         0
duration_days    0
total_budget     0
dtype: int64

Missing values in ad_events:
 event_id       0
ad_id          0
user_id        0
timestamp      0
day_of_week    0
time_of_day    0
event_type     0
dtype: int64

Missing values in users:
 user_id        0
user_gender    0
user_age       0
age_group      0
country        0
location       0
interests      0
dtype: int64

In [13]:
print("Duplicate rows in ads:", ads.duplicated().sum())
print("Duplicate rows in campaigns:", campaigns.duplicated().sum())
print("Duplicate rows in ad_events:", ad_events.duplicated().sum())
print("Duplicate rows in users:", users.duplicated().sum())

Duplicate rows in ads: 0
Duplicate rows in campaigns: 0
Duplicate rows in ad_events: 0
Duplicate rows in users: 0

In [15]:
print("Unique ad_id:", ads["ad_id"].nunique(), "  Rows:", len(ads))
print("Unique campaign_id:", campaigns["campaign_id"].nunique(), "  Rows:", len(campaigns))
print("Unique user_id:", users["user_id"].nunique(), "  Rows:", len(users))
print("Unique event_id:", ad_events["event_id"].nunique(), "  Rows:", len(ad_events))

Unique ad_id: 200   Rows: 200
Unique campaign_id: 50   Rows: 50
Unique user_id: 9950   Rows: 10000
Unique event_id: 400000   Rows: 400000

In [17]:
dupe_users = users[users["user_id"].duplicated(keep=False)].sort_values("user_id")

dupe_users

,user_id,user_gender,user_age,age_group,country,location,interests
5384,02ad5,Female,21,18-24,Brazil,New Adam,"technology, gaming, sports"
7258,02ad5,Female,38,35-44,Canada,North Stacy,"art, lifestyle, food"
9850,0b8c2,Male,27,25-34,United States,Harrisland,"technology, sports"
6045,0b8c2,Male,27,25-34,Canada,West Caroline,"art, technology"
2570,0ebd6,Male,32,25-34,Canada,Port Melissaport,sports
...,...,...,...,...,...,...,...
9270,f234b,Male,33,25-34,United States,East Michelechester,"photography, fitness, sports"
1779,f5eeb,Female,25,25-34,United Kingdom,Michellestad,"lifestyle, food, art"
5335,f5eeb,Male,23,18-24,Canada,Connieville,"fitness, gaming"
5168,fa7b1,Male,43,35-44,United States,Hessberg,photography
416,fa7b1,Other,34,25-34,Canada,Robinsonberg,"food, photography"

In [19]:
users_clean = users.drop_duplicates(subset="user_id", keep="first")

users_clean.shape

(9950, 7)

In [21]:
users_clean["user_id"].nunique()

9950

In [23]:
users = users_clean

In [25]:
users_clean = users.drop_duplicates(subset="user_id", keep="first")
users_clean

,user_id,user_gender,user_age,age_group,country,location,interests
0,a2474,Female,24,18-24,United Kingdom,New Mariomouth,"fitness, health"
1,141e5,Male,21,18-24,Germany,Danielsfort,"food, fitness, lifestyle"
2,34db0,Male,27,25-34,Australia,Vincentchester,"fashion, news"
3,20d08,Female,28,25-34,India,Lisaport,"health, news, finance"
4,9e830,Male,28,25-34,United States,Brownmouth,"health, photography, lifestyle"
...,...,...,...,...,...,...,...
9995,24364,Male,18,18-24,United States,Curtisside,"travel, fashion, art"
9996,68b82,Male,24,18-24,Mexico,Brownland,finance
9997,39f39,Male,29,25-34,United States,Watersburgh,health
9998,0b8e7,Male,31,25-34,United Kingdom,South Kenneth,"art, fashion"
9999,99e3f,Male,37,35-44,Canada,New Courtneyview,fitness

In [27]:
missing_ads = set(ad_events["ad_id"]) - set(ads["ad_id"])
print("ad_id missing in ads:", len(missing_ads))

ad_id missing in ads: 0

In [29]:
missing_users = set(ad_events["user_id"]) - set(users["user_id"])
print("user_id missing in users:", len(missing_users))

user_id missing in users: 0

In [31]:
missing_campaigns = set(ads["campaign_id"]) - set(campaigns["campaign_id"])
print("campaign_id missing in campaigns:", len(missing_campaigns))

campaign_id missing in campaigns: 0

In [33]:
ad_events["event_type"].value_counts()

event_type
Impression    339812
Click          40079
Like           12013
Comment         4108
Purchase        2031
Share           1957
Name: count, dtype: int64

In [35]:
print("Day of Week:")
print(ad_events["day_of_week"].value_counts())

Day of Week:
day_of_week
Friday       57403
Monday       57250
Thursday     57148
Wednesday    57101
Tuesday      57081
Saturday     57027
Sunday       56990
Name: count, dtype: int64

In [37]:
print("\nTime of Day:")
print(ad_events["time_of_day"].value_counts())

Time of Day:
time_of_day
Afternoon    100218
Evening      100002
Morning       99914
Night         99866
Name: count, dtype: int64

In [39]:
import os

processed_path = r"C:\Users\pnvc1\Downloads\portfolio-Projects\Social-Media\Processed-Data"

os.makedirs(processed_path, exist_ok=True)

print("Processed folder ready:", processed_path)

Processed folder ready: C:\Users\pnvc1\Downloads\portfolio-Projects\Social-Media\Processed-Data

In [41]:
ads.to_csv(processed_path + r"\dim_ad.csv", index=False)
campaigns.to_csv(processed_path + r"\dim_campaign.csv", index=False)
users_clean.to_csv(processed_path + r"\dim_user.csv", index=False)
ad_events.to_csv(processed_path + r"\fact_ad_events.csv", index=False)